<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MySuite" verbose="1">

    <parameter name="browser" value="chrome"></parameter>

    <test name="Test Sber">
        <classes>
            <class name="suite.Sber">
                <methods>

                    <parameter name="summ" value="500"/>
                    <parameter name="day" value="5"/>
                    <parameter name="bing" value="8,28"/>
                    <include name="prameterTestOne" />

                    <parameter name="date" value="05.03.2017"/>
                    <parameter name="buy" value="57,71"/>
                    <parameter name="sell" value="59,89"/>
                    <include name="prameterTestTwo" />

                </methods>
            </class>
        </classes>
    </test>

</suite>

